/* Roboto */

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Black";
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}

/* Alkatra */

@font-face {
    font-family: "Alkatra-Regular";
    src: url(../fonts/Alkatra/Alkatra-Regular.ttf);
}

@font-face {
    font-family: "Alkatra-Medium";
    src: url(../fonts/Alkatra/Alkatra-Medium.ttf);
}

@font-face {
    font-family: "Alkatra-SemiBold";
    src: url(../fonts/Alkatra/Alkatra-SemiBold.ttf);
}

@font-face {
    font-family: "Alkatra-Bold";
    src: url(../fonts/Alkatra/Alkatra-Bold.ttf);
}
